@charset "UTF-8";

/* HEADER */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: sticky;
    top: 0px;
    background-color: black;
    flex-direction: row;
    padding: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 40px;
}

.container {
    display: flex;
    flex-direction: column;
}

/*MENU*/
#mobile-menu {
    cursor: pointer;
    height: 30px;
    display: flex;
    flex-flow: column nowrap;/*shorthand - direction/wrap*/
    justify-content: space-around;
    align-items: center;
}

#mobile-menu > div {
    border: 1px solid white;
    width: 28px;
}

#mobile-menu-open {
    padding: 0px 20px;
    background-color: black;
    display: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    margin-left: -10px;
}

#mobile-menu-open > div {
    padding-bottom: 70px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#mobile-menu-open li {
    list-style: none;
}

#close {
    display: none;
}

#menu-list {
    color: gray;
    margin-top: 30px;
}

#menu-list li {
    line-height: 2.2em;
    font-size: 1.5em;
}

#menu-list li:hover {
    color: white;
}

#menu-footer {
    display: flex;
    justify-content: space-between;
    width: 310px;
    padding: 20px 0px;
}

#menu-footer img{
    height: 30px;
}
