@charset "UTF-8";

/*FOOTER*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: black;
    color: white;
    line-height: 1.7em;
    font-size: 0.8em;
    padding: 20px 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

.div-logos-e-lojas {
    display: flex;
    padding: 20px 0px 30px 0px;
    margin: 0px 10px;
    border-bottom: 1px solid #333333;
    align-items: center;
}

#p-footer {
    padding: 10px 0px;
}

#icones-footer img {
    margin-right: 10px;
    max-height: 25px;
    height: 100%;
}

#lojas-footer img {
    margin-right: 10px;
    max-height: 40px;
    height: 100%;
}

#links-footer {
    padding: 10px 0px;
}

#links-footer a {
    padding: 10px;
}

#ultima-div-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#ultima-div-footer p {
    color: #5a5a5a;
}

#ultima-div-footer img {
    height: 40px;
}

@media screen and (min-width: 805px) {
    footer .container {
        flex-direction: row;
        justify-content: space-between;
    }

    footer .p-download-footer {
        display: none;
    }

    footer .div-logos-e-lojas {
        border-bottom: 1px solid transparent;
    }

    footer #primeira-div-footer {
        border-bottom: 1px solid #333333;
    }

    #ultima-div-footer img {
        height: 35px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1066px) {
    #links-footer {
        justify-content: left;
    }
}